In [1]:
# Librerias
import pandas as pd
import numpy as np

In [2]:
# Ruta al archivo
ruta = "../data/raw/201911_EnvigmuBDD_casadas_unidas.csv"  

# Lectura del CSV
df = pd.read_csv(
    ruta,
    encoding="cp1252",
    low_memory=False
)

In [3]:
# Vision preliminar del DF
df.head()

,id_per,id_hogar,id_viv,upm,conglomerado,area,persona,f2_s2a_1,f2_s2a_2,f2_s2a_3_a,...,f2_s10_4_10,f2_s10_4_10_4a,f2_s10_4_11,f2_s10_4_11_4a,f2_s10_4_12,f2_s10_4_12_4a,f2_s10_4_13,f2_s10_4_13_4a,fexpm,estratom
0,1015000270104102,10150002701041,1015000270104,10150002701,2701,Urbana,2,No,Si,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.279078,2713
1,1015000270105102,10150002701051,1015000270105,10150002701,2701,Urbana,2,No,Si,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.279078,2713
2,1015000270110102,10150002701101,1015000270110,10150002701,2701,Urbana,2,No,Si,Si,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,294.279078,2713
3,1015000370401102,10150003704011,1015000370401,10150003704,3704,Urbana,2,No,Si,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,503.500993,2712
4,1015000370402102,10150003704021,1015000370402,10150003704,3704,Urbana,2,No,Si,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,755.251489,2712

In [4]:
# Aislamos Columnas referentes al analisis

columnas_objetivo = [
    # Niñez
    "f2_s5_1",
    "f2_s5_3",
    "f2_s5_5",

    # Violencia de pareja actual
    "f2_s7a_14_16",
    "f2_s7a_14_17",
    "f2_s7a_14_18",
    "f2_s7a_14_19",
    "f2_s7a_14_20"
]

# Nota: Esto conllevo un previo analisis del total de 1144 preguntas

In [5]:
# Revisamos si todas las col. existen dentro del DF
column_presentes = [column for column in columnas_objetivo if column in df.columns]
column_faltantes = [column for column in columnas_objetivo if column not in df.columns]
print("Presentes:", column_presentes)
print("Faltantes:", column_faltantes)

Presentes: ['f2_s5_1', 'f2_s5_3', 'f2_s5_5', 'f2_s7a_14_16', 'f2_s7a_14_17', 'f2_s7a_14_18', 'f2_s7a_14_19', 'f2_s7a_14_20']
Faltantes: []

In [6]:
# Revisamos el DF con las col. que necesitamos
DF_firt_grade = df[column_presentes]
DF_firt_grade.head()

,f2_s5_1,f2_s5_3,f2_s5_5,f2_s7a_14_16,f2_s7a_14_17,f2_s7a_14_18,f2_s7a_14_19,f2_s7a_14_20
0,una ciudad,nunca,nunca,una vez,no ocurrió,no ocurrió,no ocurrió,no ocurrió
1,"una localidad, comunidad o recinto",nunca,nunca,pocas veces,pocas veces,pocas veces,pocas veces,pocas veces
2,"una localidad, comunidad o recinto",de vez en cuando,de vez en cuando,no ocurrió,no ocurrió,no ocurrió,no ocurrió,no ocurrió
3,"una localidad, comunidad o recinto",de vez en cuando,nunca,no ocurrió,no ocurrió,no ocurrió,no ocurrió,no ocurrió
4,una ciudad,nunca,nunca,no ocurrió,no ocurrió,no ocurrió,no ocurrió,no ocurrió

In [7]:
# Informacion general sobre el DF
DF_firt_grade.describe()

,f2_s5_1,f2_s5_3,f2_s5_5,f2_s7a_14_16,f2_s7a_14_17,f2_s7a_14_18,f2_s7a_14_19,f2_s7a_14_20
count,10589,10588,10586,10588,10588,10588,10588,10588
unique,2,4,4,5,5,4,5,5
top,"una localidad, comunidad o recinto",nunca,nunca,no ocurrió,no ocurrió,no ocurrió,no ocurrió,no ocurrió
freq,7116,7001,7402,8637,9030,9478,10210,10406

In [8]:
DF_firt_grade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10590 entries, 0 to 10589
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   f2_s5_1       10589 non-null  object
 1   f2_s5_3       10588 non-null  object
 2   f2_s5_5       10586 non-null  object
 3   f2_s7a_14_16  10588 non-null  object
 4   f2_s7a_14_17  10588 non-null  object
 5   f2_s7a_14_18  10588 non-null  object
 6   f2_s7a_14_19  10588 non-null  object
 7   f2_s7a_14_20  10588 non-null  object
dtypes: object(8)
memory usage: 662.0+ KB

In [9]:
# Normalizar los datos
DF_firt_grade = DF_firt_grade.apply(lambda col: col.astype(str).str.strip().str.lower())
# Nota: Eliminamos espacios en blanco, convertimos en string y minusculas

In [10]:
# Identificamos cuantos valores existen en cada col. para cada respuesta
for col in DF_firt_grade:
    print("\n")
    print(DF_firt_grade[col].value_counts(dropna=False))

f2_s5_1
una localidad, comunidad o recinto    7116
una ciudad                            3473
nan                                      1
Name: count, dtype: int64


f2_s5_3
nunca               7001
de vez en cuando    2234
frecuentemente      1129
no recuerda          224
nan                    2
Name: count, dtype: int64


f2_s5_5
nunca               7402
de vez en cuando    2296
frecuentemente       747
no recuerda          141
nan                    4
Name: count, dtype: int64


f2_s7a_14_16
no ocurrió      8637
pocas veces      695
una vez          665
muchas veces     589
no aplica          2
nan                2
Name: count, dtype: int64


f2_s7a_14_17
no ocurrió      9030
muchas veces     534
pocas veces      520
una vez          503
nan                2
no aplica          1
Name: count, dtype: int64


f2_s7a_14_18
no ocurrió      9478
muchas veces     404
pocas veces      374
una vez          332
nan                2
Name: count, dtype: int64


f2_s7a_14_19
no ocurrió      10210
una vez           134
pocas veces       125
muchas veces      117
nan                 2
no aplica           2
Name: count, dtype: int64


f2_s7a_14_20
no ocurrió      10406
pocas veces        79
una vez            52
muchas veces       48
no aplica           3
nan                 2
Name: count, dtype: int64

In [11]:
# En porcentajes a cuanto equivale cada respuesta
for col in DF_firt_grade:
    print("\n")
    print(DF_firt_grade[col].value_counts(normalize = True, dropna = False ).mul(100).round(2))

f2_s5_1
una localidad, comunidad o recinto    67.20
una ciudad                            32.80
nan                                    0.01
Name: proportion, dtype: float64


f2_s5_3
nunca               66.11
de vez en cuando    21.10
frecuentemente      10.66
no recuerda          2.12
nan                  0.02
Name: proportion, dtype: float64


f2_s5_5
nunca               69.90
de vez en cuando    21.68
frecuentemente       7.05
no recuerda          1.33
nan                  0.04
Name: proportion, dtype: float64


f2_s7a_14_16
no ocurrió      81.56
pocas veces      6.56
una vez          6.28
muchas veces     5.56
no aplica        0.02
nan              0.02
Name: proportion, dtype: float64


f2_s7a_14_17
no ocurrió      85.27
muchas veces     5.04
pocas veces      4.91
una vez          4.75
nan              0.02
no aplica        0.01
Name: proportion, dtype: float64


f2_s7a_14_18
no ocurrió      89.50
muchas veces     3.81
pocas veces      3.53
una vez          3.14
nan              0.02
Name: proportion, dtype: float64


f2_s7a_14_19
no ocurrió      96.41
una vez          1.27
pocas veces      1.18
muchas veces     1.10
nan              0.02
no aplica        0.02
Name: proportion, dtype: float64


f2_s7a_14_20
no ocurrió      98.26
pocas veces      0.75
una vez          0.49
muchas veces     0.45
no aplica        0.03
nan              0.02
Name: proportion, dtype: float64

- El grado de respuestas 'no recuerdo' es menor al < 3% lo cual es muy bajo y no compromete al analisis. Pero no lo descartamos 
- Las observaciones con valores faltantes o ‘no aplica’ fueron excluidas debido a su incidencia marginal (<0.1%).

In [12]:
# Cambiamos el estado "no aplica" por null
DF_second_grade = DF_firt_grade[~DF_firt_grade.isin(['no aplica'])]

In [13]:
# Cambiamos el string 'na' por un NULL de pandas y eliminarlo
DF_second_grade = DF_second_grade.replace("nan", np.nan)

In [14]:
# Eliminamos los valores Null
DF_second_grade = DF_second_grade.dropna()

In [15]:
len(DF_second_grade)

10577

In [16]:
# Confirmamos la eliminamos de valores no necesarios
for col in DF_second_grade:
    print("\n")
    print(DF_second_grade[col].value_counts(normalize = True, dropna = False ).mul(100).round(2))

f2_s5_1
una localidad, comunidad o recinto    67.19
una ciudad                            32.81
Name: proportion, dtype: float64


f2_s5_3
nunca               66.12
de vez en cuando    21.11
frecuentemente      10.65
no recuerda          2.12
Name: proportion, dtype: float64


f2_s5_5
nunca               69.93
de vez en cuando    21.68
frecuentemente       7.05
no recuerda          1.33
Name: proportion, dtype: float64


f2_s7a_14_16
no ocurrió      81.58
pocas veces      6.57
una vez          6.29
muchas veces     5.56
Name: proportion, dtype: float64


f2_s7a_14_17
no ocurrió      85.29
muchas veces     5.04
pocas veces      4.92
una vez          4.76
Name: proportion, dtype: float64


f2_s7a_14_18
no ocurrió      89.51
muchas veces     3.81
pocas veces      3.54
una vez          3.14
Name: proportion, dtype: float64


f2_s7a_14_19
no ocurrió      96.45
una vez          1.27
pocas veces      1.18
muchas veces     1.10
Name: proportion, dtype: float64


f2_s7a_14_20
no ocurrió      98.31
pocas veces      0.75
una vez          0.49
muchas veces     0.45
Name: proportion, dtype: float64

In [17]:
DF_second_grade.head()

,f2_s5_1,f2_s5_3,f2_s5_5,f2_s7a_14_16,f2_s7a_14_17,f2_s7a_14_18,f2_s7a_14_19,f2_s7a_14_20
0,una ciudad,nunca,nunca,una vez,no ocurrió,no ocurrió,no ocurrió,no ocurrió
1,"una localidad, comunidad o recinto",nunca,nunca,pocas veces,pocas veces,pocas veces,pocas veces,pocas veces
2,"una localidad, comunidad o recinto",de vez en cuando,de vez en cuando,no ocurrió,no ocurrió,no ocurrió,no ocurrió,no ocurrió
3,"una localidad, comunidad o recinto",de vez en cuando,nunca,no ocurrió,no ocurrió,no ocurrió,no ocurrió,no ocurrió
4,una ciudad,nunca,nunca,no ocurrió,no ocurrió,no ocurrió,no ocurrió,no ocurrió

In [18]:
# Exortamos el DF limpio 
DF_second_grade.to_csv(
    "../data/processed/df_limpio_violencia.csv",
    index = False,
    encoding="cp1252"
)